.div1{
    height: 50px;
    width: 900px;
    background-color:aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
   
    border: 2px solid black;
   
}
.tb{
    margin-left: 250px; 
    
}
#t1{
    color: blue;
}
#w1{
    color: blue;
}
textarea{
    overflow: auto;
    height: 400px;
    width: 903px;
    background-color: blanchedalmond;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    padding: 10px;
    color: black;
    border-left: 2px solid black;
    border-right: 2px solid black;;
}
body{
    background-color:  DBCBBD ;
}
.bgchange{
    height: 50px;
    width: 200px;
    padding: 10px;
    
}
.btn{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: saddlebrown solid 2px;
    cursor: pointer;

}
#white{
    background-color: white;
}
#black{
    background-color: black;
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}
#gray{
    background-color: gray;
}